$primary-color: #b8d5e6;
$secondary-color: #ff7f7d;

.bg-primary {
    background-color: $primary-color;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
}

main {
    padding: 20px;
}

p {
    color: $secondary-color;
}

.btn-primary {
    color: black;
    background-color: $primary-color;
    border-radius: 5px;
}

.btn-secondary {
    color: black;
    background-color: darkmagenta;
    border-radius: 5px;
}
