body {
    background-color: #DFE1FE;
}
header {
    text-align: center;
}
h1 {
    opacity: 1;
color: rgba(255,89,86,1);
font-family: "EricaOne-Regular";
font-size: 642.6px;
font-weight: 400;
font-style: normal;
letter-spacing: -23.56px;
text-align: center;
}
h2 {
opacity: 1;
color: rgba(131,103,255,1);
font-family: "EricaOne-Regular";
font-size: 142.443px;
font-weight: 400;
font-style: normal;
letter-spacing: -5.22px;
text-align: center;
line-height: 142.443px;
}
h3 {
    opacity: 1;
color: rgba(131,103,255,1);
font-family: "Poppins-SemiBold";
font-size: 32.13px;
font-weight: 600;
font-style: normal;
letter-spacing: 14.04px;
text-align: center;
text-transform: uppercase;
}
.address {
    text-align: center;
    border-radius: 62.117998px;
    opacity: 1;
    background-color: rgba(255,89,86, 1);
}