// Custom.scss

$primary_1: rgb(206, 223, 228);
$primary_2: #000000;
$body-bg: rgb(241, 241, 241);
$font-family-monospace: Arial, Helvetica, sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $body-bg;
}

.navbar {
background-color: $primary;
}

 .nav-item {
    text-align: center;
}

.jumbotron {
    font-family: $font-family-monospace;
    height: 300px;
    margin-top: 120px;  
    margin: 30px; 
}

.card-container {
    background-color: $primary_1;
}

.card {
    background-color: $body-bg;
       margin-top: 25px;
}

.card:hover {
    background-color: lightcoral;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: lightsalmon;
    color: $primary_2;
    border-color: $primary_2;
}

@media screen and(max-width: 768px) {
    .card {
        flex-direction: column;
    }
}

@import "node_modules/bootstrap/scss/bootstrap";

