/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Tangerine&family=VT323&display=swap');


/* Variables */
:root {
  --black:#000;
}
/* Basic styling */

/* Nav styling */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.navbar-brand {
  color: #82acff;
  font-family: 'VT323', cursive;
  font-size: 3px;
  font-weight: bolder;
  margin-left: 5px;
}

.nav-item {
  color: var(--black);
  font-family: 'Poppins';
  font-size: 17px;
  margin-left: 30px;
}

.jumbotron {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding: 45px;
    background: radial-gradient(rgb(252, 115, 239) 9%, rgb(139, 102, 241) 72%);
    border-radius: 15px;
}
h1 {
    text-align: center;
    font-family: 'VT323';
}

h2 {
    font-family: 'VT323';
    font-size: 35px;
}

p {
    font-family: 'Poppins';
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin: 0 auto;
}

section {
    background-color: #f4ebfb;
    margin-top:20px;
}

.post-date {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    text-decoration: underline;
}

.poem {
    text-align:center;
}

.comments {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.comments-list {
  margin-top: 15px;
}

/* Style the comment input and button */
#commentInput {
  width: 100%;
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
}

#commentInput,
button {
  display: block;
  font-family: 'Poppins';
  font-size: 11px;
}

button {
  padding: 8px 15px;
  background-color: rgb(139, 102, 241); 
  color: var(--black);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--black); 
  box-shadow: 2px 2px 4px var(--black);
  border-radius: 20px;
}

button:hover {
  background-color: rgb(185, 162, 248);
}

footer {
  background-color: #e7cff9;
  
}

.footerContainer {
  width:100%;
  padding: 70px 30px 20px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.footerNav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 15px;
  list-style: none;
}

.footerNav li a {
  color: var(--black);
   text-decoration: none;
  margin: 20px;
}

.socialIcons {
  display:flex;
  justify-content: center;
}
ion-icon {
  margin: 10px 20px;
  height: 35px;
  width: 35px;
  color: var(--black);
}

.socialIcons a:hover {
  cursor: pointer;
  transition: 0.5s;
}

.footerBottom {
  text-align: center;
  margin: 15px;
}


